
{% extends 'main.html' %}
{% if request.user.is_authenticated %}

{% if request.user.is_superuser %}
{% block content %}
{% include "menu.html" %}


<form name="form-users" id="formUsers" action="" method="post" >
    <div class="col-6 mt-4 m-auto">
        {% csrf_token %}
        <header>
            <h1 style="margin-bottom: 30px">Cadastro de apartamentos</h1>
        </header>


        {{ form.as_p}}

        <input class="btn btn-dark mt-4" type="submit" value="Cadastrar">
    </div>

    <ul>
    {% for apartmento in apartamentos %}
      <li>{{ apartmento.edificio }} - {{ apartmento.numero }} - {{ apartmento.quartos }} - {{ apartmento.preco }} </li>
    {% endfor %}
  </ul>
</form>
{% endblock %}
{% else %}

Voce não possuí permissão para cadastrar novos apartamentos
{% endif %}


{% else %}
Você não tem acesso a essa área
{% endif %}


